.patrat{
    display: flex;
    width: 17%;
    height: calc(100vw*0.17);
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-bottom: calc(100vw*0.03);
}



.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image{
    border: 1px solid blue;
    background-image: url(placeholder-image.png);
    background-color: blue;
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-grow: 6;
    background-position: center;
}

.title{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: #ffc0cb29;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

@media only screen and (max-width : 360px) {
 .gallery {
     flex-direction: column;
 }

 .patrat{
     width:90%;
     height:calc(100vw*0.9);
 }
 }

 @media only screen and (min-width : 361px) and (max-width : 768px){
     .patrat{
         width: 30%;
         height: calc(100vw*0.3);
     }
    
 }